<div class="">
<form class='form' method="POST">

<h2>Post a comment</h2>

  <textarea class='input' id="comment" name="description" required placeholder="What do you think about this post? Write an encouraing message" maxlength="200"></textarea>
  

  <button class='sign'>Publish</button>

</form>
</div>
