<title><h1>Recent Posts</h1></title>
{{#each posts}}
  <h5 class="mt-0 mb-1">Created by {{creator.name}}</h5>
  <img class="mr-3" src="{{pictureUrl}}" alt="Generic placeholder image">
  <div class="media-body">
    <p>Category: {{category}}</p>
    <p>Description: {{description}}
  </div>
  <textarea class='input form-control mt-4' id="comment" name="comment" placeholder="Reach out to this user and leave your comment" maxlength="200"></textarea>
  <button type="button" class="btn btn-primary mb-5">Leave a Comment</button>
  <hr>
{{/each}}
